<div data-role="view" data-title="Edit" data-model="app.masterDetailView.editItemViewModel" data-bind="events: { show: onShow }" id="masterDetailViewModelEditItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span>Edit</span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_masterDetailViewModel -->
    <!-- END_CUSTOM_CODE_masterDetailViewModel -->
    <div id="editableListForm3" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">

                    <label>

                        <span>State name</span>

                        <input id="textField" data-bind="value: editFormData.textField" placeholder="Type here ..." type="text">
                    </label>

                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">Errors</h4>
                </li>
                <li class="form-content-item">

                    <div class="editableListItem">
                        <div>Error</div>

                        <div id="errorstring" data-bind="html: editFormData.errorstring"></div>

                    </div>

                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm3 -->
        <!-- END_CUSTOM_CODE_editableListForm3 -->
    </div>
</div>