<div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.authenticationView" data-show="app.authenticationView.onShow" data-after-show="app.authenticationView.afterShow" id="authenticationViewScreen" class="screen">
    <div class="signin-view screen__content screen__content--signin">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label><span data-bind="text: strings.authenticationView.authenticationViewModel.emailLabel"></span>
                        <input type="email" data-bind="value: authenticationViewModel.email" required autofocus>
                    </label>
                </li>
                <li>
                    <label><span data-bind="text: strings.authenticationView.authenticationViewModel.passwordLabel"></span>
                        <input type="password" data-bind="value: authenticationViewModel.password" required>
                    </label>
                </li>
            </ul>

            <div class="button-group button-group-vertical">
                <a data-role="button" class="primary" data-bind="events: { click: authenticationViewModel.signin }, buttonText: strings.authenticationView.authenticationViewModel.signinLabel"></a>

            </div>

            <span class="status" data-bind="text: authenticationViewModel.errorMessage"></span>
        </form>
    </div>
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
    <!-- START_CUSTOM_CODE_authenticationViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_authenticationViewModel -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.authenticationView.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_authenticationView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <script>
        var email = document.getElementsByTagName("li")[0].getElementsByTagName("input")[0];
        //email.type = 'text';
    </script>
    <!-- END_CUSTOM_CODE_authenticationView -->
</div>